.block1 {
    > .block1_h1 {
        width: 100%;
        display: flex;
        justify-content: end;
        > h1 {
            font-size: 72px;
            line-height: 72px;
            span {
                margin-left: 100px;
            }
        }
    }
    > div {
        margin-top: 80px;
        > p {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: -8%;
        }
        > img {
            width: 100%;
        }
    }
}
